@font-face {
    font-family: "Roboto-Bold";
    src: url("deps/Roboto-Bold.ttf");
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

:root {
    --keybox-color: #FFF;
    --text-color: #FFF;
    --fill-color: rgba(170, 170, 170, 0.7);

    --keybox-size: 100px;
    --text-size: 36pt;

    --keybox-thickness: 4px;
    --keybox-rounding: calc(var(--keybox-size) / 4);

    --fill-animation-speed: 100ms;

    --text-font: "Tahoma";

    background-color: black; /* TODO: MAKE SURE TO REMOVE THE BACKGROUND COLOR */

    padding: 0;
    margin: 0;
}

#odometer {
    font-family: var(--text-font);

    font-size: var(--text-size);
    color: var(--text-color);

    display: flex;
    position: relative;
    top: 90%;

    white-space: nowrap;
}

#keybox-text {
    font-family: var(--text-font);

    font-size: var(--text-size);
    color: var(--text-color);

    position: absolute;
}

.keybox {
    margin-left: 15px;

    height: var(--keybox-size);
    width: var(--keybox-size);

    border-radius: var(--keybox-rounding);
    border: var(--keybox-thickness) solid var(--keybox-color);

    /* Center children */
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

.keys {
    display: inline;
}