@font-face {
    font-family: "Roboto-Bold";
    src: url("deps/Roboto-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
  
}

.odometer {
    font-family: "Roboto-Bold";

    font-size: 48pt;
    color: black;
}

#keybox-text {
    
}

#keybox {
    --background-alpha: 0;
    --size: 100px;

    height: var(--size);
    width: var(--size);

    color: white;
    background-color: rgba(70, 70, 70, var(--background-alpha));

    border-radius: calc(var(--size) / 4);
    border: 4px solid #000;
}